@media (max-width: 700px) {
    #grid-index {
        display: grid;
        grid-template-areas:
        "menu"
        "titulo"
        "pictures"
        "section"
        "footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        text-align: center;
        border: solid 5px black;
        padding: -5vw;
        margin-top: 0.5vh;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    div {
        grid-area: pictures;
        height: 200px;
        margin-left: 2vw;
    }
    section {
        grid-area: section;
        margin-left: 1vw;
    }
    article {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
    
    #grid-objetivo {
        display: grid;
        grid-template-areas:
        "menu"
        "titulo"
        "texto"
        "video"
        "footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        text-align: center;
        border: solid 5px black;
        padding: -5vw;
        margin-top: 0.5vh;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    #texto {
        grid-area: texto;
    }
    #video {
        grid-area: video;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
}

@media (min-width: 701px) and (max-width:1199px) {
    #grid-index {
        display: grid;
        grid-template-areas:
        "menu titulo"
        "menu pictures"
        "menu section"
        "footer footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        margin-top: 4vh;
        text-align: center;
        border: solid 5px black;
        padding: -5vw;
        margin-top: 2.2vh;
        margin-bottom: 2.2vh;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    div {
        grid-area: pictures;
        height: 200px;
        margin-left: 2vw;
    }
    section {
        grid-area: section;
        margin-left: 1vw;
    }
    article {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
    
    #grid-objetivo {
        display: grid;
        grid-template-areas:
        "menu titulo"
        "menu texto"
        "menu video"
        "footer footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        margin-top: 4vh;
        text-align: center;
        border: solid 5px black;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    #texto {
        grid-area: texto;
    }
    #video {
        grid-area: video;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
}

@media (min-width: 1200px) {
    #grid-index {
        display: grid;
        grid-template-areas:
        "menu titulo"
        "menu pictures"
        "menu section"
        "footer footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        margin-top: 4vh;
        text-align: center;
        border: solid 5px black;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    div {
        grid-area: pictures;
        height: 200px;
        margin-left: 2vw;
    }
    section {
        grid-area: section;
        margin-left: 1vw;
    }
    article {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
    
    #grid-objetivo {
        display: grid;
        grid-template-areas:
        "menu titulo"
        "menu texto"
        "menu video"
        "footer footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        margin-top: 4vh;
        text-align: center;
        border: solid 5px black;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 1vw;
    }
    #texto {
        grid-area: texto;
    }
    #video {
        grid-area: video;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
    
    #grid-nuestraSeleccion {
        display: grid;
        grid-template-areas:
        "menu titulo titulo"
        "menu pictures pictures"
        "menu pictures pictures"
        "footer footer footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .borde { 
        border: double 5px black;
    }
    .colorFondo {
        background-image: linear-gradient(to left,rgba(78, 175, 255, 0.815),rgb(122, 68, 7));
    }
    nav {
        grid-area: menu;
    }
    a {
        margin-top: 4vh;
        text-align: center;
        border: solid 5px black;
    }
    a:hover {
        border: double 5px rgb(255, 115, 0);
    }
    header {
        grid-area: titulo;
        margin-left: 2vw;
    }
    div {
        display: flex;
        grid-area: pictures;
        margin-left: 2vw;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
}
