@media (max-width: 1023px){
    * {
        margin: 0px;
        padding: 0px;
    }
    #grid-area {
        display: grid;
        grid-template-areas:
        "menu"
        "titulo"
        "main"
        "section"
        "footer";
        background-color: rgb(114, 3, 71);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 100px;
    }
    header {
        grid-area: titulo;
        }
    nav {
        display: flex;
        flex-flow: row nowrap;
        grid-area: menu;
        text-align: center;
    }
    span{ 
        background-color: rgba(78, 175, 255, 0.815);
        border: dashed 5px black;
    }
    span:hover {
        border: double 5px rgb(255, 115, 0);
    }
    main {
        grid-area: main;
    }
    section {
        grid-area: section;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        align-content: center;
    }
}
@media (min-width: 1024px){
    * {
        margin: 5px;
        padding: 2px;
    }
    #grid-area {
        display: grid;
        grid-template-areas:
        "menu"
        "titulo"
        "main"
        "section"
        "footer";
        background-color: rgb(122, 68, 7);
        font-family: 'PT Serif', serif;
        grid-template-rows: auto;
        grid-row-gap: 100px;
    }
    header {
        grid-area: titulo;
    }
    nav {
        display: flex;
        flex-flow: row nowrap;
        grid-area: menu;
        justify-content: center;
        text-align: center;
    }
    span{ 
        background-color: rgba(78, 175, 255, 0.815);
        border: dashed 5px black;
    }
    span:hover {
        border: double 5px rgb(255, 115, 0);
    }
    main {
        grid-area: main;
    }
    section {
        grid-area: section;
    }
    #section{
        grid-area: section;
        margin-top: 4vh;
        margin-left: 28.5vw;
    }
    footer {
        grid-area: footer;
        background-color: rgba(78, 175, 255, 0.815);
        text-align: right;
    }
    .sinSubrayar {
        text-decoration: none;
        color: black
    }
    .backgroundImage {
        background-image:url("../imagenes/imagen superior.jpg");
        background-position: center;
        background-repeat: no-repeat;    
    }
    .borde{ 
        background-color: rgba(78, 175, 255, 0.815);
        border: dashed 5px black;
    }    
}
