* {
  margin: 1vh;
  padding: 1vw;
}

.borde {
  border: double 5px black;
}

.colorFondo {
  background-image: linear-gradient(45deg, rgba(0, 28, 51, 0.925) 2%, rgba(240, 130, 56, 0.699) 80%);
}

.colormarco {
  background-image: linear-gradient(135deg, rgb(255, 149, 50) 20%, rgb(19, 87, 175) 100%);
}

#grid-index {
  display: grid;
  grid-template-areas: "menu" "titulo" "pictures" "section" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
}
#grid-index header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-index header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-index div {
  grid-area: pictures;
  height: 300px;
  margin-top: -2vh;
  margin-left: -0.2vw;
}
#grid-index section {
  grid-area: section;
  padding: 1vw;
}
#grid-index footer {
  grid-area: footer;
  text-align: right;
}

#grid-trayectoria {
  display: grid;
  grid-template-areas: "menu" "titulo" "section" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
#grid-trayectoria header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-trayectoria header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-trayectoria h1 {
  grid-area: titulo;
  height: 200px;
  width: 90%;
  margin-top: 2vh;
  margin-left: 4.5vw;
  text-align: center;
  padding-top: 7vh;
}
#grid-trayectoria section {
  grid-area: section;
}
#grid-trayectoria footer {
  grid-area: footer;
  text-align: right;
}

#grid-objetivo {
  display: grid;
  grid-template-areas: "menu" "titulo" "texto" "video" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
#grid-objetivo header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-objetivo header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-objetivo h1 {
  grid-area: titulo;
  height: 200px;
  width: 90%;
  margin-top: 2vh;
  margin-left: 4.5vw;
  text-align: center;
  padding-top: 7vh;
}
#grid-objetivo #texto {
  grid-area: texto;
}
#grid-objetivo #video {
  grid-area: video;
  margin-left: 15%;
}
#grid-objetivo footer {
  grid-area: footer;
  text-align: right;
}

#grid-nuestraSeleccion {
  display: grid;
  grid-template-areas: "menu" "titulo" "pictures" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
#grid-nuestraSeleccion header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-nuestraSeleccion header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-nuestraSeleccion h1 {
  grid-area: titulo;
  height: 200px;
  width: 90%;
  margin-top: 2vh;
  margin-left: 4.5vw;
  text-align: center;
  padding-top: 7vh;
}
#grid-nuestraSeleccion section {
  grid-area: pictures;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  padding: 2%;
}
#grid-nuestraSeleccion footer {
  grid-area: footer;
  text-align: right;
}

#grid-ubicacion {
  display: grid;
  grid-template-areas: "menu" "titulo" "section" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
#grid-ubicacion header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-ubicacion header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-ubicacion h1 {
  grid-area: titulo;
  height: 200px;
  width: 90%;
  margin-top: 2vh;
  margin-left: 4.5vw;
  text-align: center;
  padding-top: 7vh;
}
#grid-ubicacion section {
  grid-area: section;
}
#grid-ubicacion article {
  margin-top: 15px;
  margin-bottom: 15px;
}
#grid-ubicacion #mapa {
  height: 50vh;
  margin-left: 25%;
}
#grid-ubicacion footer {
  grid-area: footer;
  text-align: right;
}

#grid-contacto {
  display: grid;
  grid-template-areas: "menu" "titulo" "section" "footer";
  font-family: "PT Serif", serif;
  grid-template-rows: auto;
  grid-row-gap: 5px;
}
#grid-contacto header {
  grid-area: menu;
  margin-left: 1vw;
  margin-bottom: -2vh;
  margin-top: -1vh;
  text-align: center;
}
#grid-contacto header a:hover {
  border: double 5px rgba(252, 136, 41, 0.829);
}
#grid-contacto h1 {
  grid-area: titulo;
  height: 200px;
  width: 90%;
  margin-top: 2vh;
  margin-left: 4.5vw;
  text-align: center;
  padding-top: 7vh;
}
#grid-contacto section {
  grid-area: section;
  margin-left: 7%;
  margin-top: 7%;
}
#grid-contacto footer {
  grid-area: footer;
  text-align: right;
}

/*# sourceMappingURL=destino.css.map */
